[submodule "src/vendor/glfw"]
	path = src/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "src/vendor/entt"]
	path = src/vendor/entt
	url = https://github.com/skypjack/entt.git
